# Ignore node_modules and build directories
node_modules
.next
out
dist

# Ignore local environment files
# .env.local
# .env.development
# .env.test
# .env.*

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore miscellaneous files
*.log
*.lock
*.md
*.swp
*.swo
*.swn

# Ignore IDE/editor config files
.vscode/
.idea/
*.iml
*.sublime*
